#daffodil > img {
  object-position: 50% 56%;
}

#D-info > .content {
  background: linear-gradient(180deg, #f2e874 65%, #ddbc02 90%);
}

#tulip > img {
  object-position: 50% 20%;
}

#T-info > .content {
  background: linear-gradient(180deg, #f0df25 65%, #beb00f 90%);
}

#grape-hyacinth > img {
    object-position: 50% 95%;
}

#GH-info > .content {
  background-image: linear-gradient(#6b75d5 65%, #4351cd 90%);
}

#fondant-hyacinth > img {
  object-position: 50% 15%;
}

#FH-info > .content {
  background: linear-gradient(180deg, #ffafdc 65%, #e06dae 90%);
}

#solomons-seal > img {
  object-position: 50% 50%;
}

#SS-info > .content {
  background: linear-gradient(180deg, #f0fae0 65%, #aed077 90%);
}

#bearded-iris > img {
  object-position: 30% 50%;
}

#BI-info > .content {
  background: linear-gradient(180deg, #e2d9fc, #9d8dc7 35% 75%, #7d6fcf 90%);
}

#bleeding-heart > img {
  object-position: 50% 57%;
}

#BH-info > .content {
  background: linear-gradient(180deg, #f995c9 65%, #d45d96 90%);
}

#peony > img {
  object-position: 40% 50%;
}

#P-info > .content {
  background: linear-gradient(180deg, #e82c93 65%, #9c0256 90%);
}

#columbine > img {
  object-position: 5% 50%;
}

#C-info > .content {
  background: linear-gradient(180deg, #e27da4 65%, #d44179 83%, #efdeb9 88%);
}

#stella-d-oro > img {
  object-position: 50% 10%;
}

#SDOD-info > .content {
  background: linear-gradient(180deg, #f3c957 65%, #e3a90b 90%);
}

#miss-tinkerbell > img {
  object-position: 20% 50%;
}

#MTD-info > .content {
  background: linear-gradient(0deg, #eaa122 10%, #fc5d00 20%, #e69778 29%, #ffae8e 50%);
}

#orange-daylily > img {
  object-position: 80% 50%;
}

#OD-info > .content {
  background: linear-gradient(0deg, #dba41b 10%, #c42400 20%, #dd4812 30%, #ea7b2b 50%);
}

#hosta > img {
  object-position: 50% 40%;
}

#H-info > .content {
  background: linear-gradient(180deg, #f2e7f4 65%, #d4b5da 90%);
}

#sweet-william > img {
  object-position: 50% 100%;
}

#SW-info > .content {
  background: linear-gradient(180deg, #b41c75 65%, #fff4fa 90%);
}

#wisteria > img {
  object-position: 50% 90%;
}

#AFW-info > .content {
  background: linear-gradient(180deg, #cdb9d4 65%, #ab70c1 90%);
}

#spirea-japonica > img {
  object-position: 40% 50%;
}

#SJ-info > .content {
  background: linear-gradient(180deg, #fcb5e5, #f381c1 25% 50%, #eb66ab 70% 80%, #c10b58 99%);
}

#ninebark > img {
  object-position: 50% 80%;
}

#SWN-info > .content {
  background: linear-gradient(180deg, #f0e8da 65%, #ff71aa 90%);
}

#tulip-tree > img {
  object-position: 50% 0%;
}

#TT-info > .content {
  background: linear-gradient(180deg, #c7d642 65%, #fc6602 90%);
}

#pear-tree > img {
  object-position: 20% 50%;
}

#PT-info > .content {
  background: linear-gradient(180deg, #fffffa 65%, #acaca0 90%);
}

#rose > img {
  object-position: 35% 50%;
}

#R-info > .content {
  background: linear-gradient(180deg, #d5e5cb 65%, #f3f357 90%);
}

#wild-rose > img {
  object-position: 0% 50%;
}

#WR-info > .content {
  background: linear-gradient(180deg, #f9f9ee 65%, #c2c2ba 90%);
}

#chicory > img {
  object-position: 30% 50%;
}

#Chic-info > .content {
  background: linear-gradient(180deg, #d3c2ff 65%, #9381c0 90%);
}

#spring-beauty > img {
  object-position: 70% 50%;
}

#SB-info > .content {
  background: linear-gradient(180deg, #fffcff 65%, #d29bcc 90%);
}

#orange-lily > img {
  object-position: 70% 50%;
}

#OL-info > .content {
  background: linear-gradient(180deg, #c05d1b 65%, #a74a07 90%);
}