:root {
  --bloom-soon: #d8fde6;
  --seeds-soon: #e4e01d;
  --needs-attention: #c55c2c;
}

* {
  margin: 0;
  box-sizing: border-box;
  color: #000;
  scrollbar-gutter: stable;
}

body {
  padding: 5px;
  height: 100%;
  width: 100%;
  background: #9dcbff;
}

header {
  margin: 10pt auto 25pt;
  text-align: center;
  font-size: 20pt;
  h1 {
    font-family: "Brush Script MT", "Lucida Calligraphy";
    text-shadow: 0 0 15px #f5ff8b;
  }
  h3 {
    font-family: "Bradley Hand ITC", "Lucida Handwriting";
    text-shadow: 2px 2px 8px #ffffff, -2px -2px 8px #ffffff;
  }
}

#tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tile {
  display: none;
  flex: 10%;
  position: relative;
  margin: 5px;
  min-height: 145pt;
  max-height: 145pt;
  min-width: 100pt;
  max-width: 100pt;
  background: linear-gradient(180deg, #55be6e 20%, #439757 83%, #387f48 99%);
  border-radius: 8px;
  box-shadow: 0 0 2px 2px #2c5a3c;
  img {
    position: relative;
    left: 50%;
    margin-top: 5pt;
    height: 90pt;
    width: 90pt;
    object-fit: cover;
    transform: translateX(-50%);
  }
}

.show {
  display: block !important;
}

#tiles > div:hover {
  box-shadow: 0 0 2px -0.5px #1c3826, 0 0 4px 3px #295338;
  cursor: pointer;
}

.plant-name {
  position: absolute;
  left: 50%;
  bottom: 5pt;
  text-align: center;
  font-family: "Comic Sans MS", "Century Gothic";
  font-weight: bold;
  transform: translateX(-50%);
}

dialog {
  position: fixed;
  top: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  background: #00000098;
  z-index: 2;
  cursor: default;
  div {
    position: relative;
    top: 50pt;
    margin: auto;
    padding: 10pt;
    height: 70%;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 0 10px 8px #00000090;
    img {
      float: left;
      margin-right: 5pt;
      height: 40vw;
      max-height: 80%;
    }
    h2 {
      text-align: center;
      font-family: "Lucida Handwriting";
    }
    p {
      font-family: sans-serif;
    }
    p:first-of-type {
      margin-top: 10pt;
    }
    button {
      position: absolute;
      left: 50%;
      bottom: 5pt;
      margin-top: 5pt;
      height: 25pt;
      width: 97%;
      background: #d0d0d0;
      border-radius: 9px;
      border-color: rgba(0, 0, 0, 0.288);
      transform: translateX(-50%);
    }
    button:hover {
      background: #b7b7b7;
    }
  }
}